[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "*"


[packages]

click = "*"
crayons = "*"
dokuwiki = "*"
"jinja2" = "*"
tabulate = "*"
tablib = "*"
glom = "*"


[requires]

python_version = "3.6"
